@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}
:root {

    --white: #fff;
    --green: #00875F;
    --green-light: #00B37E;
    --gray-1-background: #121214;
    --gray-2-cards: #202024;
    --gray-3-divider: #323238;
    --gray-4-placeholder: #7C7C8A;
    --gray-5-supporting-text: #8D8D99;
    --gray-6-text: #C4C4CC;
    --gray-7-text-titles: #E1E1E6;
    
    --red-danger: #F75A68;

    font-size: 62.5%;
}

:focus {
    outline: transparent;
    box-shadow: 0 0 0 2px var(--green)
}

body {
    background-color: var(--gray-1-background);
    color: var(--gray-6-text);
    -webkit-font-smoothing: antialised;
}

body,
input,
textarea,
button {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
}
